.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: .3s linear;
  z-index: 4;
}

.popup_visible {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.popup__container_type_login {
  background-color: #fff;
  min-width: 430px;
  /*height: 380px;*/
  padding: 34px 36px 28px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup__container_type_register {
  background-color: #fff;
  min-width: 430px;
  /*height: 380px;*/
  padding: 34px 36px 28px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup__container_type_success-register {
  background-color: #fff;
  min-width: 430px;
  min-height: 182px;
  padding: 43px 79px 51px 36px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup__title {
  margin: 0 0 22px;
  width: 315px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
}

.popup__title_type_success-register {
  margin: 0 0 14px;
}

.popup__text {
  margin: 16px 0 0;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__close-btn {
  background-image: url('../../images/close-btn.png');
  width: 40px;
  height: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  transition: .3s;
}

.popup__close-btn:hover {
  opacity: .8;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__input-name {
  margin: 0 0 9px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
}

.popup__input {
  padding: 0 0 10px;
  margin: 0 0 23px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  transition: .3s;
}

.popup__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.2;
}

.popup__input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.popup__error {
  /*margin: 0 0 13px;*/
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  transition: .3s;
  position: absolute;
  top: 55px;

}

.popup__error_visible {
  opacity: 1;
}

/*.popup__error_type_server-err {*/
/*  text-align: center;*/
/*  width: 240px;*/
/*  top: 80px;*/
/*  left: calc(50% - 120px);*/
/*}*/

.popup__link {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #2F71E5;
  cursor: pointer;
  transition: .3s;
}

.popup__link_type_success-register {
  font-size: 18px;
  line-height: 18px;
}

.popup__link:hover {
  opacity: .8;
}

@media screen and (max-width: 515px) {
  .popup__close-btn {
    background-size: contain;
    width: 24px;
    height: 24px;
    top: -42px;
    right: 21px;
  }
}

@media screen and (max-width: 425px) {
  .popup {
    backdrop-filter: blur(5px);
    align-items: flex-end;
  }

  .popup__container_type_login {
    min-width: 100vw;
    height: 100%;
    padding: 16px 17px;
    transform: translateY(56px);
    /*position: absolute;*/
    /*top: 30px;*/
  }

  .popup__container_type_register {
    min-width: 100vw;
    height: 100%;
    padding: 16px 17px;
    transform: translateY(56px);
  }

  .popup__container_type_success-register {
    min-width: 100vw;
    height: 100%;
    padding: 16px 17px;
    transform: translateY(56px);
  }
}