.about {
  display: flex;
  margin: 0 auto;
  padding: 80px 104px;
  color: #1A1B22;
}

.about__img {
  margin: 0 54px 0 0;
  width: 464px;
  height: 464px;
  object-fit: cover;
  border-radius: 50%;
}

.about__heading {
  margin: 51px 0 0;
  width: 48.7%;
}

.about__title {
  margin: 0 0 24px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  margin: 0 0 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.about__text:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 40px 40px 61px;
  }

  .about__img {
    margin: 0 32px 0 0;
    max-width: 332px;
    max-height: 332px;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .about__img {
    max-width: 232px;
    max-height: 232px;
  }

  .about__heading {
    margin: 0;
    width: 100%;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    padding: 32px 16px 80px;
  }

  .about__img {
    max-width: 272px;
    max-height: 272px;
    margin: 0 0 24px;
  }
}