.navigation {
  display: flex;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*display: flex;*/
  /*align-items: center;*/
  /*list-style-type: none;*/
}

.navigation__list_type_header {
  display: flex;
  align-items: center;
}

.navigation__list_type_burger {
  display: flex;
  flex-direction: column;
}

.navigation__list_type_footer {
  display: flex;
  /*flex-direction: column;*/
}

.navigation__link {
  margin: 0 34px 0 0;
  text-decoration: none;
  color: #B6BCBF;
  transition: .3s;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.navigation__link_type_burger {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: #FFFFFF;
}

.navigation__link_type_news {
  color: #1A1B22;
}

.navigation__link_type_footer {
  color: #1A1B22;
  font-weight: normal;
}

.navigation__link:hover {
  opacity: .8;
}

.navigation__link:last-child {
  margin: 0 32px 0 0;
}

.navigation__link_active {
  position: relative;
  color: #fff;
}

.navigation__link_active_type_news {
  color: #1A1B22;
}

.navigation__link_active_type_main::after {
  position: absolute;
  left: 0;
  bottom: -27px;
  content: '';
  width: 100%;
  border-bottom: 3px solid #fff;
}

.navigation__link_active_type_news::after {
  position: absolute;
  left: 0;
  bottom: -27px;
  content: '';
  width: 100%;
  border-bottom: 3px solid #000;
}

@media screen and (max-width: 1024px) {
  .navigation__link {
    margin: 0 16px 0 0;
    font-size: 16px;
  }

  .navigation__link:last-child {
    margin: 0 16px 0 0;
  }
}

@media screen and (max-width: 600px){
  .navigation__list_type_header {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .navigation__list_type_footer {
    margin: 0 0 40px;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 72px;
  }
}
