.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  list-style-type: none;
}

.navigation__link {
  margin: 0 34px 0 0;
  text-decoration: none;
  color: #fff;
  transition: .3s;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.navigation__link:hover {
  opacity: .8;
}

.navigation__link:last-child {
  margin: 0 32px 0 0;
}