.news {
  height: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F5F6F7;
  color: #1A1B22;
  transition: .5s;
}

.news_active {
  height: 100%;
  padding: 80px 104px;
}

.news__title {
  margin: 0 0 64px;
  width: 530px;
  align-self: flex-start;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.news-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 16px;
}

@media screen and (max-width: 1240px) {
  .news_active {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .news__title {
    margin: 0 0 32px;
  }

  .news-list {
    grid-gap: 8px;
  }
}

@media screen and (max-width: 600px) {
  .news-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media screen and (max-width: 472px) {
  .news__title {
    margin: 0 0 24px;
    width: 70%;
    font-size: 30px;
    line-height: 34px;
  }
}

  @media screen and (max-width: 425px) {
  .news_active {
    padding: 16px 16px 32px;
  }

  .news-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}